* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    top: 10px;
    width: 100%;
    margin-left: 10px;
}

main {
    margin-top: 15%;
}

#main-page {
    text-align: center;
}

#about-text {
    text-align: center;
}

.hidden {
    display: none;
}

label {
    font-size: 18px;
}
section {
    margin: auto;
    align-items: center;
}

section, form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landingpage {
    min-height: 500px;
}

form {
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
    padding: 10px;
}

.button {
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
}

.nav-button,
.button {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.nav-button {
    height: 30px;
}

.go-back {
    align-self: flex-start;
}

form {
    width: 80%;
}

.form-content {
    margin: 10px;
}

.brewery-list, .beer-list {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
    color: white;
}


.brewery, .beer {
    cursor: pointer;
}

.beer-icon {
    width: 20%;
    align-self: center;
}

.brew-info {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
}

#map {
    text-align: center;
}

.map {
    width: 275px;
    height: 275px;
    border-radius: 6px;
    margin-bottom: 10%;
}

.name,
.tagline {
    text-align: center;
}

@media only screen and (min-width: 720px) {
    main {
        margin-top: 10%;
    }

    .content {
        width: 500px;
        min-height: 500px;
    }

    .map {
        width: 400px;
        height: 400px;
    }

    nav {
        top: 20px;
        left: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        margin-top: 10%;
    }

    nav {
        left: 200px;
    }
}
/*slider*/
#text-slide,
#text-slide .slide {
    width: 300px;
    height: 100px;
    text-align: center;
}

.lang {
    font-size: 14px;
}

#text-slide {
    overflow: hidden;
    margin: 0 auto;
    font-size: 16px;
}

#text-slide .container {
    position: relative;
    width: 9000px;
<<<<<<< HEAD
    animation: slide-animation 125s infinite;
=======
    animation: slide-animation 75s infinite;
>>>>>>> 8c51654c5095d0340b52fe38252ddad25d835071
}

#text-slide .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
  }

/*animation*/

@keyframes slide-animation {
    0% { 
        opacity: 0;
        right: 0;
      }
      10% {
        opacity: 1;
        right: 0; 
      }
<<<<<<< HEAD
      9.3% { right: 100%}
      13.6% { right: 200%}
      17.9% { right: 300%}
      21.1% { right: 400%}
      26.4% { right: 500%}
      30.7% { right: 600%}
      35% { right: 700%}
      39.3% { right: 800%}
      43.6% { right: 900%}
      47.9% { right: 1000%}
      52.1% { right: 1100%}
      56.4% { right: 1200%}
      60.7% { right: 1300%}
      65% { right: 1400%}
      69.3% { right: 1500%}
      73.6% { right: 1600%}
      77.8% { right: 1700%}
      82.1% { right: 1800%}
      86.4% { right: 1900%}
      90.7% { right: 2000%}
      95% { right: 2100%}
      99.2% {
=======
      14% { right: 100%}
      18% { right: 200%}
      22% { right: 300%}
      26% { right: 400%}
      30% { right: 500%}
      34% { right: 600%}
      38% { right: 700%}
      42% { right: 800%}
      46% { right: 900%}
      50% { right: 1000%}
      54% { right: 1100%}
      58% { right: 1200%}
      62% { right: 1300%}
      66% { right: 1400%}
      70% { right: 1500%}
      74% { right: 1600%}
      78% { right: 1700%}
      82% { right: 1800%}
      86% { right: 1900%}
      90% { right: 2000%}
      95% {
>>>>>>> 8c51654c5095d0340b52fe38252ddad25d835071
        opacity: 1;
        right: 2200%; 
      }
      100% {
        opacity: 0;
        right: 2200%;
      }
}
